@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import "./default/default";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: $body-color;
  display: flex;
  height: 100vh;
  flex-direction: column;
  .navbar {
    background-color: gray;
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    z-index: 1000;
  }
  .main-wrapper {
    display: flex;
    flex: 1;
    main {
      background-color: blue;
      display: flex;
      flex-direction: column;
      flex: 8;
      header {
        background-color: blue;
        padding: 1rem;
      }
      .content-area {
        overflow-y: auto;
        background-color: yellow;
        flex: 1;
        display: flex;
        flex-direction: column;
        span {
          background-color: white;
          padding: 1rem;
          max-width: 60%;
          margin: 0.5rem;
          border-radius: 10px;
          justify-content: center;
          word-break: break-word;
          align-self: flex-start;
        }
        span.isMe {
          align-self: flex-end;
          background-color: rgb(229, 255, 255);
        }
      }
      footer {
        background-color: palevioletred;
        padding: 2rem;
        position: sticky;
        bottom: 0;
        z-index: 1000;
      }
    }

    aside {
      background-color: green;
      flex: 2;
    }
  }
}
