<%- layout("./template/boilerplate") %>
<nav class="navbar">ナビゲーションエリア</nav>
<div class="main-wrapper">
  <main>
    <header>ヘッダー</header>
    <div class="content-area">
      <span class="isMe">こんにちは、今何をしていますか？</span>
      <span>こんにちは、いまは晩御飯を食べています</span>
      <span class="isMe">なんのご飯を食べていますか？</span>
      <span class="isMe">なんのご飯を食べていますか？</span>
      <span>こんにちは、いまは晩御飯を食べています</span>
      <span class="isMe">なんのご飯を食べていますか？</span>
      <span class="isMe">なんのご飯を食べていますか？</span>
      <span>こんにちは、いまは晩御飯を食べています</span>
      <span class="isMe">なんのご飯を食べていますか？</span>
      <span class="isMe">なんのご飯を食べていますか？</span>
      <span>こんにちは、いまは晩御飯を食べています</span>
      <span class="isMe">なんのご飯を食べていますか？</span>
      <span class="isMe">なんのご飯を食べていますか？</span>
    </div>
    <footer>フッター</footer>
  </main>
  <aside class="aside sidebar-right">サイドカラム</aside>
</div>
